.box {
  border: 3px solid black;
  width: 500px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-img {
  width: 500px;
  height: 400px;
  text-align: center;
}
.main {
  display: flex;
  justify-content: center;
}
.bt {
  margin: 5px;
}
